body{
    background-color: #292c36;
}
.intro{
    padding-top: calc(20vh);
    text-align: center;
    color: white;
    font-size: calc(10vh);
}

.intro > #welcome {
    color: lightsteelblue;
    font-size: calc(4vh);
}

nav {
    padding-top: 8px;
    font-size: 16px;
}

nav ul {
    float: right;
    display: inline-block;
    list-style: none;
    box-sizing: content-box;
    list-style-position: outside;
}

nav li {
    padding-left: 24px;
}

nav #home {
    font-size: 24px;
    float: left;
}

nav #cash {
    color: dodgerblue;
}

nav #compton {
    color: darkorange;
}

nav #about {
    color: lightsteelblue;
}

nav #resume {
    color: lightsteelblue;
}

nav #contact {
    color: lightsteelblue;
}

nav #extras {
    color: lightsteelblue;
}