body{
    background-color: lightgray;
}
.intro{
    padding-top: calc(20vh);
    text-align: center;
    color: white;
    font-size: calc(10vh);
}

.intro > #welcome {
    color: darkslategrey;
    font-size: calc(5vh);
}