body{
    background-color: #292c36;
}
.intro{
    padding-top: calc(20vh);
    text-align: center;
    color: white;
    font-size: calc(10vh);
}

.intro > #welcome {
    color: white;
    font-size: calc(5vh);
}

nav ul {
    float: right;
    display: block;
    padding-top: 8px;
}

nav #home {
    float: left;
}

nav #cash {
    color: royalblue;
}

nav #compton {
    color: darkorange;
}

nav #about {
    background-color: darkorange;
    color: royalblue;
}

nav #resume {
    background-color: royalblue;
    color: darkorange;
}

nav #contact {
    background-color: darkorange;
    color: royalblue;
}

nav #extras {
    background-color: royalblue;
    color: darkorange;
}